<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Organizer</title>
    <link rel="stylesheet"  th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
    <div class="main-container">
        <header>
            <div class="header-left">
                <button class="header-btn btn-home"></button>
            </div>
            <div class="header-center">
                <span class="logo-panel"></span>
            </div>
            <div class="header-right">
                <button class="header-btn logout-btn"></button>
            </div>
        </header>

        <main>
            <div class="list-container">
                <div class="top-panel">
                    <button class="back-home-btn"></button>
                    <div id="side-panel">
                        <button class="add-btn"></button>
                    </div>
                </div>
                <div id="events-list"></div>
            </div>        

        </main>

        <footer>

        </footer>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            const eventsData = localStorage.getItem("userEvents");
            if (eventsData) {
                const events = JSON.parse(eventsData);
                displayEvents(events);
            }

            document.querySelector(".add-btn").addEventListener("click", function() {
                window.location.href = "one-event";
            });

            document.querySelector(".back-home-btn").addEventListener("click", function() {
                window.location.href = "home";
            });
        });
    </script>
</body>
</html>