<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Organizer</title>
    <link rel="stylesheet"  th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
    <div class="main-container">
        <header>
            <div class="header-left">
                <button class="header-btn btn-home"></button>
            </div>
            <div class="header-center">
                <span class="logo-panel"></span>
            </div>
            <div class="header-right">
                <button class="header-btn logout-btn"></button>
            </div>
        </header>

        <main>
            <div class="home-container">
                <div class="main-buttons">
                    <button class="menu-btn btn-events"></button>
                    <button class="menu-btn btn-tasks"></button>
                </div>
            </div>
        </main>

        <footer>
            <span class="rights-icon"></span>
        </footer>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            document.querySelector(".btn-events").addEventListener("click", getUserEvents);
            document.querySelector(".btn-tasks").addEventListener("click", getUserTasks);
        });
    </script>
</body>
</html>