<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Organizer</title>
    <link rel="stylesheet"  th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
    <div class="main-container login-register-container">
        <main>
            <div class="login-container">
                <div class="login-register-box">
                    <img th:src="@{/img/main/organizer_logo}" alt="logo" class="login-logo">
    
                    <form class="login-register-form">
                        <input type="email" placeholder="email">
                        <input type="password" placeholder="password" id="password">
    
                        <p class="error-message"></p>
    
                        <div class="show-password">
                            <input type="checkbox" class="show-pass-checkbox">
                            <label for="show-pass">show password</label>
                        </div>
    
                        <button type="submit" class="login-btn">login</button>
                        <button type="button" id="redirect-register-btn">register</button>
                    </form>
                </div>
            </div>            
        </main>
    </div>

    <script>        
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector(".login-register-form");
            const errorMessage = document.querySelector(".error-message");
            const passwordInput = document.getElementById("password");
            const passwordCheckbox = document.querySelector(".show-pass-checkbox");

            passwordCheckbox.addEventListener("change", function() {
                passwordInput.type = this.checked ? "text": "password";
            });


            form.addEventListener("submit", function (event){
                event.preventDefault();
                let email = document.querySelector("input[type='email']").value.trim();
                let password = document.getElementById("password").value.trim();
                loginUser(email, password, errorMessage)
            });

            document.querySelector("#redirect-register-btn").addEventListener("click", function () {
                window.location.href = "/register";
            });
        });
        </script>
</body>
</html>