<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Organizer</title>
    <link rel="stylesheet"  th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
    <div class="main-container">
        <header>
            <div class="header-left">
                <button class="header-btn btn-home"></button>
            </div>
            <div class="header-center">
                <span class="logo-panel"></span>
            </div>
            <div class="header-right">
                <button class="header-btn logout-btn"></button>
            </div>
        </header>

        <main>
            <div class="task-container">
                <div class="top-panel">
                    <button class="back-tasks-btn"></button>
                </div>
                <form id="task-form">
                    <input type="text" id="task-title" placeholder="title" required>
                    <button type="submit" class="save-btn"></button>
                </form>
            </div>

        </main>

        <footer>

        </footer>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            loadTaskData();
            document.querySelector(".back-tasks-btn").addEventListener("click", function() {
                localStorage.removeItem("editTaskId");
                getUserTasks()
            });
            document.getElementById("task-form").addEventListener("submit", saveTask);
        });
    </script>


</body>
</html>