<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Organizer</title>
    <link rel="stylesheet"  th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}" defer></script>
</head>
<body>
    <div class="main-container">
        <header>
            <div class="header-left">
                <button class="header-btn btn-home"></button>
            </div>
            <div class="header-center">
                <span class="logo-panel"></span>
            </div>
            <div class="header-right">
                <button class="header-btn btn-settings"></button>
            </div>
        </header>

        <main>
            <div class="event-container">
                <div class="top-panel">
                    <button class="back-events-btn"></button>
                </div>
                <form id="event-form">
                    <input type="text" id="event-title" placeholder="title" required>
                    <textarea id="event-description" placeholder="description" required></textarea>
                    <input type="datetime-local" id="event-datetime" required>
                    <button type="submit" class="save-btn"></button>
                </form>
            </div>

        </main>

        <footer>

        </footer>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            document.querySelector(".back-events-btn").addEventListener("click", getUserEvents);
            document.getElementById("event-form").addEventListener("submit", addEvent);
        });
    </script>


</body>
</html>